/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-navy {
  background-color: #0f172a;
}

.text-gold {
  color: #b45309;
}

.bg-gold {
  background-color: #b45309;
}

.hero-overlay {
  background: linear-gradient(
    90deg,
    rgba(15, 23, 42, 0.9) 0%,
    rgba(15, 23, 42, 0.7) 100%
  );
} */
